<!-- header>nav.navbar.navbar-inverse>div.navbar-header>a[href=/].navbar-brand{Mes Contacts} -->

<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        Mes Contacts
      </a>
    </div>
  </nav>
</header>
<div class="row">
  <div class="col-sm-4">
    <!-- *ngIf permet de faire le rendu HTML de la liste
    que si le tableau "contact" contient des objets -->
    <div *ngIf="Contacts.length">
      <ul class="list-group">
          <li class="list-group-item" 
          *ngFor="let contact of Contacts"
          (click)="choisirUnContact(contact)"
          [class.active]="contact === contactActif">
          {{ getNomComplet(contact)}}
          </li>
      </ul>
    </div>
    <!-- formulaire d ajout de contact -->
    <app-ajout-contact 
    (unContactEstCree)="ajouterContactDansListe($event)">

    </app-ajout-contact>
  </div>

  
  

  <div class="col-sm-8">
    <app-profil-contact [contactActif]="contactActif"></app-profil-contact>
</div>

<footer class="text-center">
  &copy; Copyright 2018 - Paris XIV
</footer>

