

.navbar-inverse .navbar-nav > li > a{
    color:#fff;
}

@media (min-width: 768px) {
    .container {
      width: 750px;
}
header{
    background:#141414;
}
.iphonebandeau{
    background: black;
}
h2, .h2{
    text-align: center;
    color:#fff;
}
.numero7{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#fff;
    font-size:40px;
}
h3, .h3{
    margin-top:-15px;
}
p {
    text-align:center;
}
.container>a{
    text-align:center;
}
a{
    margin-left:10px ;
}
.container .store {
    color:#fff;
}
body{
    background: black;
}
.bas{
    background:#fff;
}
.row.bas img{
    padding-top:20px;
}
.fondgris{
    background:grey;
}
h3.passez{
    margin-top:40px;
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align: center;
}
p.echange{
    margin-top:20px;
}
p.comment{
    margin-top:20px;
}
h3.contact{
    margin-top:35px;
    text-align: center;
    margin-bottom:35px;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:30px;
}
#inputName3::placeholder, #inputEmail3::placeholder, #inputTel3::placeholder,#inputSubject3::placeholder,#inputMessage3::placeholder{
    color:black;
    font-weight:bold;
    
}
.form-control{
    background: #EEEEEE;
}
.col-sm-5.tel{
    padding-left:5px;
}
.col-sm-5.email{
    padding-right:5px;
}
.col-sm-offset-1.col-sm-10.submit{
    text-align: center;
}
.btn.btn-primary.btn-lg.bouton{
    width: 220px;
    padding:5px;
    border-radius:0;
}
.nav > li{
    margin-left:20px;
}
.container-fluid.entete{
margin-left:20%;
}
.container-fluid.entete2{
    margin-left: 28%;
}